<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:zkc="http://www.zkoss.org/2008/zkspring/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.zkoss.org/2008/zkspring/core http://www.zkoss.org/2008/zkspring/core/zkspring-core.xsd">
	
	
	<import resource="sigem-datasource.xml"/>
	<import resource="sigem-mvc.xml"/>
	
	
<!-- 	<zkc:zk-config/> -->
	
	
	<!--========================================== Navigation Area ==========================================-->
	<bean id="navigationControl" class="com.seidor.inventario.navigation.NavigationControl" autowire="byName" />
	<bean id="breadcrumbsRenderer" class="com.seidor.inventario.navigation.BreadCrumbsRenderer" autowire="byName"/>
	<bean id="navigationRenderer" class="com.seidor.inventario.navigation.NavigationRenderer" autowire="byName"/>
	<bean id="navigationStates" class="com.seidor.inventario.navigation.NavigationStates" />
	<bean id="pagingControl" class="com.seidor.inventario.navigation.PagingControl" autowire="byName" />
	<!--========================================== /Navigation Area =========================================-->
	
	<!--========================================== Validators Area ==========================================-->
	<bean id="fcv" class="com.seidor.inventario.validation.FullComponentValidator" />
	<bean id="tmv" class="com.seidor.inventario.validation.TextboxMandatoryValidator" />
	<bean id="emv" class="com.seidor.inventario.validation.EmailboxMandatoryValidator" />
	<bean id="eov" class="com.seidor.inventario.validation.EmailboxValidator" />
	<bean id="imv" class="com.seidor.inventario.validation.IntboxMandatoryValidator" />
	<bean id="bmv" class="com.seidor.inventario.validation.BigintboxMandatoryValidator" />
	<bean id="dmv" class="com.seidor.inventario.validation.DateboxMandatoryValidator" />
	<bean id="cmv" class="com.seidor.inventario.validation.ComboboxMandatoryValidator" />
	<bean id="cov" class="com.seidor.inventario.validation.ComboboxValidator" />
	<bean id="umv" class="com.seidor.inventario.validation.UserMandatoryValidator" />
	<bean id="rfcv" class="com.seidor.inventario.validation.RFCMandatoryValidator" />
	<!--========================================== /Validators Area =========================================-->
	
</beans>