/* 
colors
#165785 //blue
#777 //yellow
#333 //gray 
#37474f //gray2 
#26333c //gray3
#a8a8a8 lightgray
*/

.z-window {
	padding: 0px;
	background-color: transparent !important;
}

.z-window-content {
	padding: 0px;
	background-color: transparent !important;
}

.z-textbox-input, .z-combobox-input, .z-datebox-input {
	color: #a8a8a8;
}

.z-textbox-input:focus, .z-combobox-input:focus, .z-datebox-input:focus {
	color: #165785;
	border-color: #165785;
}

.z-combobox-input:focus + .z-combobox-button {
	border-left: 1px solid #165785;
}

.z-datebox-input:focus + .z-datebox-button {
	border-left: 1px solid #165785;
}

.z-combobox-button:hover, .z-datebox-button:hover {
	border-color: #165785;
	background: #e0f2ff;
}

.z-comboitem-selected {
	background: #165785;
	color: #fff;
}

.z-comboitem-selected:hover {
	color: #165785;
}

input[type="checkbox"]:checked {
	background-color: #777;
	color: #fff;
}

input[type="checkbox"]:hover {
	border-color: #165785;
}

input[type="radio"]:checked {
	border-color: #777;
}

input[type="radio"]:checked::before {
	background-color: #777;
}

input[type="radio"]:hover {
	border-color: #165785;
}

.z-a {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: #777;
}

.z-a:visited {
	color: #d98610;
}

.z-a:hover {
	color: #165785;
}

.z-menu-content:hover, .z-menuitem-content:hover {
	color: #165785;
	background-color: #e0f2ff;
}

.z-menu-selected > .z-menu-content,
.z-menu-content:active, .z-menuitem-content:active {
	color: #FFFFFF;
	background-color: #165785;
}

.z-menu-content, .z-menuitem-content {
	color: #165785;
}

.z-menubar {
	display: block;
	border-top: 0px solid #165785;
	border-bottom: 0px solid #165785;
	padding: 0px;
	position: relative;
	background: #fff;
}

.z-menupopup .z-menu-content:hover, .z-menupopup .z-menuitem-content {
	color: #165785;
}

.z-menupopup .z-menu-content:hover, .z-menupopup .z-menuitem-content:hover {
	color: #165785;
	background-color: #e0f2ff;
}

.z-menu-content, .z-menuitem-content {
	color: #165785;
}

.z-menupopup .z-menuseparator {
	font-size: 1px;
	display: block;
	width: auto;
	min-height: 2px;
	border-bottom: 1px solid #a8a8a8;
	padding: 0;
	line-height: 1px;
	margin: 4px 0;
	position: relative;
}

/** Datebox Calendar **/
.z-calendar-text {
	color: #165785;
}

.z-combobox-open .z-combobox-button, .z-bandbox-open .z-bandbox-button, .z-datebox-open .z-datebox-button {
	border-color: #165785;
}

.z-combobox-popup, .z-bandbox-popup, .z-datebox-popup, .z-timebox-popup {
	border: 1px solid #165785;
}

.z-calendar-selected,
.z-calendar-selected:hover {
	color: #fff;
	background: #165785;
}

/** Tabbox **/
.z-tab-selected .z-tab-text {
	color: #165785;
}

.z-tab-text:hover,
.z-tab-selected .z-tab-text:hover {
	color: #777;
}

.z-tab-selected {
	border-bottom: 2px solid #777;
	background: #fff;
}

/** Listbox **/
.z-listheader {
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 0;
	background: #165785;
}

.z-listitem > .z-listcell > .z-listcell-content,
.z-listitem.z-listitem-selected > .z-listcell > .z-listcell-content,
.z-listitem.z-listitem-selected.z-listitem-focus > .z-listcell > .z-listcell-content {
	color: #37474f;
}

.z-listitem:hover > .z-listcell > .z-listcell-content {
	color: #37474f;
}